.middleHeading {
  font-size: 1.3rem;
  margin-top: 1ex;
  text-align: center;
}

.small {
  font-size: smaller;
  font-style: italic;
  display: block;
  text-align: center;
}

.loadingDivContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingDiv {
  text-align: center;
  margin-top: 3rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 10rem;
  height: 10rem;
  display: block;
  padding: 1rem;
  animation: road-rage 2s cubic-bezier(0.77, -0.18, 0, 2.05) infinite;
}

@keyframes road-rage {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
