/*
  > CLASS NAME REQUIREMENTS:
  follow js naming convention
  * no hyphens
  - alphanumeric chars only w/ exception of _ and $
  - must not start with a number
  - should not be a reserved keyword
*/



.fooHover {
  scale: 2; /* transform: scale(2) */
}

.buttonDefault {
  padding: 0.3em 1em;
  border: 0.8em;
  background-color: green;
  cursor: pointer;
  border-radius: 0.3em;
}

.buttonDefaultHover {
  background-color: red;
}
