.header {
  background-color: var(--header-bg);
  box-shadow: var(--global-box-shadow);
}

.main {
  padding: var(--global-padding);
  max-width: var(--max-width);
  margin: 0 auto;
}

.footer>[data-fixed-inner-footer] {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--global-padding);
  background-color: var(--footer-bg);
  box-shadow: var(--footer-negative-box-shadow);
}
