.level2 > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
@media (min-width: 800px) {
  .level2 > div {
    flex-direction: row;
  }
  .level2 > div > div {width: 100%;}
}