span {
  display: block;
}

button {
  background-color: blue;
}

input[type="date"],
input[type="datetime-local"] {
  all: revert;
}

.momentRes {
  outline: 1px solid;
  max-width: 20rem;
  width: 100%;
}
