/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  user-select: auto; /* code editor advised addition */
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space; /* code editor advised addition */
  -webkit-line-break: after-white-space;
  user-select: auto; /* code editor advised addition */
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* //////////////////////////
  > EXPERIMENTAL - idesmar
 ////////////////////////// */

/* note: reset autofill in chromium */
/* cspell:disable */
/* > from user-agent stylesheet
! coud not unset or override
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
  color: fieldtext !important;
}
* reset succesful and available in TESTING
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #434700 !important;
  color: #f4f2ee !important;
} */
/* cspell:enable */


/* > CSS Tricks
* https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/
* https://codepen.io/team/css-tricks/pen/oxyJxR?editors=0100
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid;
  -webkit-text-fill-color: inherit;
  test: effects of box-shadow color change
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
} */

/* TESTING: Successful - on delaying effect of input background change */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* test: how to properly use */
  /* border: 1px solid; --- css tricks [color dependent on font color] */
  /* border: 1px solid inherit; --- color dependent on parent? */

  -webkit-text-fill-color: inherit;

  /* invalid property value on dev tools */
  /* -webkit-box-shadow: 0 0 0px 1000px inherit inset;  */

  /* invalid property value on dev tools */
  /* box-shadow: 0 0 0px 1000px inherit inset; */

  /* * could not override/unset background-color in input:-internal-autofill-selected
    css tricks workaround     : longer transition-duration (5000s)
    dev preferred workaround  : longer transition-delay
  */
  transition: background-color 1s ease-in-out 50000s;
}
