:root {
  --primary-background: #c2e6f4;
  --technology-background: #c2e6f4;
  --primary-color: #1e4566;
  --placeholder: #cab1b0;
  --btn-background: #f37474;
  --skill-btn: #2acfcf;
  --max-width: 50rem;
}

body {
  text-align: center;
  padding: 1rem;
  background-color: var(--primary-background);
}

h1, h2 {
  font-weight: 500;
}
h2 {
  padding: 1rem 1rem 0.5rem;
}
h3 {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

section {
  max-width: var(--max-width);
  margin: 0 auto;
}
section + section {
  margin-top: 1rem;
}

.logos, .inputs {
  display: flex;
}
.logos {
  gap: 2rem;
  margin-bottom: 3rem;
}
.inputs {
  gap: 1rem;
  margin-bottom: 1.3rem;
}
input {
  text-align: start;
  font-size: 0.6rem;
  border-radius: 0.3em;
  padding: 0.5rem 1rem;
  background-color: #fff;
}
input::placeholder {
  color: var(--placeholder);
}
.logo, .inputs > input {
  width: 100%;
}
button {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.3rem;
  padding: 0.4em 1em;
  border-radius: 0.5em;
  width: 20rem;
  max-width: 100%;
  background-color: var(--btn-background);
  font-size: 0.8rem;
  color: #fff;
}
.cta {
  max-width: 30rem;
  margin: 0 auto;
}

.level2b {
  border-radius: 1em;
  padding: 1rem;
  background-color: var(--technology-background);
  box-shadow: 0 0 0 1rem #fff;
}
.level2b h3, .level2b p {
  margin-bottom: 2rem;
}

.level2b h3 {
  font-weight: 400;
  font-size: 1.8rem;
}

@media (max-width: 30em) {
  .inputs {
    flex-direction: column;
  }
  button {
    width: 100%;
  }
}

.color {
  padding: 1rem;
  color: #fff;
  font-weight: 500;
}

.level3a {
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
.level3b {
  text-align: initial;
}
.user-card {
  padding: 1rem;
  background-color: #fff;
  border-radius: 1.5rem;
}
.user-card + .user-card {
  margin-top: 1.5rem;
}

.level3b img {
  --square: 10rem;
  width: var(--square);
  height: var(--square);
  border-radius: 50%;
  margin-bottom: 1rem;
}
.level3b h3 {
  margin: unset;
  margin-bottom: 1.5rem;
}
.level3b h3, .level3b p:nth-of-type(2) {
  display: flex;
  gap: 0.4em;
  align-items: center;
}
.level3b p {
  font-size: 0.8rem;
}
.level3b p:first-of-type {
  margin-bottom: 1rem;
}
.level3b h4 {
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.skill a {
  display: block;
  padding: 0.3em 0.9em;
  border-radius: 0.5em;
  background-color: var(--skill-btn);
  font-size: 0.8rem;
  color: #fff;
}
.skill a:hover {
  background-color: green;
}
.icon {
  color: var(--skill-btn);
}