@use '../sass' as *;
@use '../vars' as *;


section > div:first-of-type {
  padding-bottom: rem(14);
}

.numbers,
.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $gap;
  width: $ideal-width;
  max-width: 100%;
  margin: 0 auto;

  li {
    border-radius: rem(6);
    color: #ffffff;
    width: $side;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
