h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.sideNavContainer {
  position: relative;
  top: -1rem;
  background-color: #094040;
  box-shadow: 0 -50vw 0 50vw #094040;
  padding-bottom: 1rem;
}

.sideNavContainer a {
  display: block;
  color: #ffffff;
  padding: 0.4em 0.9em;
  border-radius: 0.5em;
}

.sideNavContainer .activeSideNav {
  background-color: #3a0648;
}

.sideNavContainer a:hover {
  color: #d9d95c;
}

.sideNavContainer ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
