h2 {
  margin-inline: auto;
  font-size: 1.4rem;
  color: burlywood;
  border-bottom: 1px solid;
}

.aside {
  border: 1px solid yellow;
}

.aside ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  /* border: 1px solid green; */
}

.aside li a {
  display: block;
  background-color: red;
  padding: 0.4em 0.9em;
  border-radius: 0.6em;
}
