.NavStyle {
 background-color: rgb(9, 64, 64);
 color: #00ffff;
 padding: 0.4rem 0;
}

.NavStyle > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
}

.NavStyle a {
  padding: 0.5rem;
  display: inline-block;
  border-radius: 0.5em;
}

.NavStyle a:hover {
  background-color: #3a8b8b;
  color: #000000;
}

.pageContainer {
  padding: 1rem;
}
